*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
.left{
	float: left;
}
.navigator{
	width: 100%;
	height: 41px;
	padding-top: 30px;
	position: absolute;
	z-index: 1;
}
.navigator .navigator_text{
	width: 1247px;
	height: 43px;
	margin-left: 384px;
}
.navigator .navigator_text .navigator_li{
	margin-left: 268px;
	font-family: "微软雅黑";
	font-size: 22pt;
	color:#9e5130;
}
.navigator .navigator_text .navigator_li li a{
	color:#9e5130;
}
.navigator .navigator_text .navigator_li li{
	float: left;
	cursor: pointer;
}
.navigator .navigator_text .navigator_li li:nth-child(1){
	color: #fff;
}

.navigator .navigator_text .navigator_li li:nth-child(2){
	margin: 0 70px;
}
.navigator .navigator_text .navigator_li li:nth-child(3){
	margin-right:70px;
}
.navigator .navigator_text .navigator_pic{
	margin-left: 242px;
	width: 170px;
}
.navigator .navigator_text .navigator_pic a:nth-child(2){
   margin: 0 30px;
}
/*=========================导航条结束=================================*/
.rotation{
	height: 902px;
}
.w-slider {
	width: 100%;
	height: 902px;
	position: relative;
	overflow: hidden;
 }

.slider-main {
    width: 200%;
    height: 902px;
}
.slider-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 902px;
}

.slider-main-img a{
	display: block;
	width: 100%;
    height: 902px;
}
.type1{
	display: block;
	width: 100%;
    height: 902px; 
    background-size: 100% 152%;
}
.type2{
	display: block;
	width: 100%;
    height: 902px; 
    background-size: 100% 140%;
}
.div2 p{
	font-size: 25px;
	text-align: center;
}
.slider-ctrl-con {
    width: 42px;
    height: 10px;
    display:inline-block;
    cursor: pointer;
}

.div2{
	position: absolute;
	bottom: 175px;
   z-index: 1;
}
/*========================轮播结束====================================*/

.fen{
	height:200px; 
}
.bottom{
	height: 340px;
	background-image: url(../img/fooder.png);
}
.bottom .bottomContext {
	height: 246px;
	width: 1300px;
	margin: 0 auto;
	padding-top:54px; 
}
.bottom .bottomContext .bottomContext_adderss{
	width: 644px;
	margin: 0 auto;
	font-size: 14px;
}
.bottom .bottomContext a{
	font-size: 14px;
	color: #000;
}
.bottom .bottomContext_logo{
	height: 40px;
	background-image: url(../img/bottom_bgpic.png);
}
.bottom .bottomContext .bottomContext_text{
	height:145px; 
	margin-bottom: 70px;
}
.bottomContext_text1{	
	height:44px;
	margin: 40px  370px 0 0;
	line-height: 200%;
}
.bottomContext_text2{
	height:133px;
	width: 154px; 
	letter-spacing: 64px;
	position: relative;
}
.bottomContext_text2 img{
   margin-left:25px;
}
.z1{
	position: absolute;
	top:80px;
	left: 140px;
}
.z2{
	position: absolute;
	top: 80px;
}
.bottomContext_pic{
	margin-left: 380px;
	position: relative;
	top: 60px;
}
.bottomContext_pic img:nth-child(2){
	margin: 0 29px;
}
