*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: "微软雅黑";
}
.left{
	float: left;
}
.navigator{
	width: 100%;
	height: 41px;
	padding-top: 30px;
	position: absolute;
	z-index: 1;
}
.navigator .navigator_text{
	width: 1247px;
	height: 43px;
	margin-left: 384px;
}
.navigator .navigator_text .navigator_li{
	margin-left: 268px;
	color:#9e5130;
	font-size: 22pt;
}
.navigator .navigator_text .navigator_li li{
	float: left;
}

.navigator .navigator_text .navigator_li li:nth-child(2){
	margin: 0 70px;
}
.navigator .navigator_text .navigator_li li:nth-child(3){
	margin-right:70px;
}
.navigator .navigator_text .navigator_pic{
	margin-left: 242px;
	width: 170px;
}
.navigator .navigator_text .navigator_pic img:nth-child(2){
   margin: 0 30px;
}
/*=========================导航条结束=================================*/
.rotation{
	height: 902px;
}
.w-slider {
	width: 100%;
	height: 902px;
	position: relative;
	overflow: hidden;
 }

.slider-main {
    width: 200%;
    height: 902px;
}
.slider-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 902px;
}

.slider-main-img a{
	display: block;
	width: 100%;
    height: 902px;
}
.type1{
	display: block;
	width: 100%;
    height: 902px; 
    background-size: 100% 152%;
}
.type2{
	display: block;
	width: 100%;
    height: 902px; 
    background-size: 100% 140%;
}
.div2 p{
	font-size: 25px;
	text-align: center;
}
.slider-ctrl-con {
    width: 42px;
    height: 10px;
    display:inline-block;
    cursor: pointer;
}

.div2{
	position: absolute;
	bottom: 175px;
   z-index: 1;
}
/*========================轮播====================================*/
/*=============二级面包开始=======================================*/
.content{
	height:2926px;
}
.twoBread{
	height: 780px;
	position: relative;
}
 /*元气早餐部分开始*/
.twoBread .breadImg{
	position: absolute;
	top: -33px;
	left: 866px;
}
.twoBread .bigTitle{
	width: 620px;
	height: 40px;
	position: absolute;
	top: 225px;
	left: 650px;
}
.twoBread .bigTitle span{
	display: inline-block;
	width: 470px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	color: rgb(158,81,48);
	letter-spacing: 3px;
}
.twoBread .breakfast{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 340px;
	left: 0;
}
.twoBread .breakfast .tea{
	width: 300px;
	height: 300px;
	border: 1px solid rgb(158,81,48);
	position: absolute;
	top: 0;
	left: 446px;
	background: url(../img/m58087ecb1bdac_59.png) no-repeat center;
}
.twoBread .breakfast .tea .teaCkick{
	display: inline-block;
	width: 72px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background-color: #ff9e45;
	color: #fff;
	font-size: 25px;
	position: absolute;
	bottom: 27px;
	left: -15px;
}
.twoBread .breakfast .tea .teaCkick span{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.twoBread .breakDetail{
	width: 663px;
	height: 300px;
	display: inline-block;
	position: absolute;
	top: -5px;
	left: 800px;
	color: rgb(158,81,48);
}
.twoBread .breakDetail span:nth-child(1){
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 25pt;
}
.twoBread .breakDetail span:nth-child(2){
	font-size: 14pt;
}
.twoBread .breakDetail span:nth-child(3){
	display: inline-block;
	width: 30px;
	position: absolute;
	top: 76px;
	left: 0;
	border-bottom: 2px solid #ff9e45;
}
.twoBread .breakDetail span:nth-child(4){
	display: block;
	font-size: 14px;
	height: 80px;
	margin-top: 52px;
	line-height: 25px;
}
.twoBread .breakDetail span:nth-child(5){
	display: inline-block;
	width: 123px;
	height: 20px;
	font-size: 12px;
    margin-top: 48px;
    text-align: right;
    background: url(../img/icon2.png) no-repeat left;
}
.twoBread .page{
	width: 27px;
	height: 140px;
	position: absolute;
	bottom: 0;
	right: 440px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(158,81,48);
}
.twoBread .page span:nth-child(1){
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 25px;
	text-align: center;
	transform: rotate(90deg);
}
.twoBread .page span:nth-child(2){
	display: inline-block;
	width: 2px;
	height: 40px;
	border-right: 2px solid rgb(158,81,48);
    position: absolute;
    bottom:54px;
    right: 10px; 
} /*元气早餐部分结束*/
/*碱水面包酥部分开始*/
.jianshui{
	width: 100%;
	height: 640px;
	background: url(../img/fooder01.png);
	position: relative;
}
.jianshui .caustic{
    width: 550px;
    height: 153px;
    position: absolute;
    top: 96px;
    left: 688px;
    color: #fff;
}
.jianshui .caustic span:nth-child(1){
	display: inline-block;
	width: 550px;
	height: 95px;
	font-size: 95px;
	letter-spacing: 6px;
	font-weight: bold;
	line-height: 85px;
	
}
.jianshui .caustic span:nth-child(2){
    display: inline-block;
    width: 430px;
    height: 27px;
    font-size: 27px;
    letter-spacing: 4px;
    line-height: 27px;
    text-align: center;
    position: absolute;
    top: 105px;
    left: 0;
    right: 50px;
    bottom: 0;
    margin: auto;
}
.jianshui .eatYouUp{
	width: 100%;
	height: 390px;
	position: absolute;
	top: 240px;
}
.jianshui .eatYouUp ul{
	width: 100%;
	height: 233px;
	position: absolute;
	bottom: 0;
}
.jianshui .eatYouUp ul li{
	width: 160px;
	height: 172px;
	font-size: 25px;
	color: #fff;
}
.jianshui .eatYouUp ul li span{
	display: inline-block;
	width: 160px;
	height: 25px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 6px;
}
.jianshui .eatYouUp ul li:nth-child(1){
	position: absolute;
	top: 0;
	left: 360px;
}
.jianshui .eatYouUp ul li:nth-child(1) img{
	margin-top: 20px;
}
.jianshui .eatYouUp ul li:nth-child(2){
	position: absolute;
	top: 0;
	left: 880px;
}
.jianshui .eatYouUp ul li:nth-child(3){
	position: absolute;
	top: 0;
	left: 1390px;
}
.jianshui .eatYouUp ul li:nth-child(3) img{
	margin-top: 40px;
}/*碱水面包酥部分结束*/
.yhFenge{
	width: 100%;
	height: 108px;
}
/*牛角包部分开始*/
.cow{
	width: 100%;
	height: 506px;
	position: relative;
}
.cow .line{
	width: 120px;
	height: 100px;
	position: absolute;
	top: 192px;
	left: 280px;
	border-top: 4px solid #ff9e45;
}
.cow .line span{
	width: 40px;
	height: 3px;
	border-bottom: 4px solid rgb(158,81,48);
	position: absolute;
	bottom: 0;
	right: 0;
}
.cow .cowDetail{
	width: 270px;
	height: 255px;
	display: inline-block;
	position: absolute;
	top: 168px;
	left: 444px;
	color: rgb(158,81,48);
}
.cow .cowDetail span:nth-child(1){
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 40px;
	letter-spacing: 8px;
	margin-bottom: 10px;
}
.cow .cowDetail span:nth-child(2){
	font-size: 14pt;
}
.cow .cowDetail span:nth-child(3){
	display: inline-block;
	width: 270px;
	position: absolute;
	top: 115px;
	left: 0;
	font-weight: bold;
	font-size: 14px;
}
.cow .cowDetail span:nth-child(4){
	display: block;
	font-size: 14px;
	height: 80px;
	margin-top: 60px;
	line-height: 25px;
	font-weight: bold;
}
.cow .cowDetail span:nth-child(5){
	display: inline-block;
	width: 130px;
	height: 20px;
    margin-top: 25px;
    text-align: left;
    line-height: 15px;
    background: url(../img/icon2.png) no-repeat right;
}
.cow .cowImg{
	position: absolute;
	top: 0;
	right:380px; 
}/*牛角包部分结束*/
.yhFenge02{
	width: 100%;
	height: 124px;
	position: relative;
}
.yhFenge02 .page02{
    width: 27px;
	height: 140px;
	position: absolute;
	bottom: 10px;
	left: 360px;
	font-size: 22px;
	font-weight: bold;
	color: rgb(158,81,48);
}
.yhFenge02 .page02 span:nth-child(1){
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 25px;
	text-align: center;
	transform: rotate(90deg);
}
.yhFenge02 .page02 span:nth-child(2){
	display: inline-block;
	width: 2px;
	height: 40px;
	border-left: 2px solid rgb(158,81,48);
    position: absolute;
    bottom:54px;
    left: 2px;
}
/*长棍面包部分开始*/
.longBread{
	width: 100%;
	height: 506px;
	position: relative;
}
.longBread .longImg{
	position: absolute;
	top: 0;
	left: 360px;
}
.longBread .longDetail{
	width: 270px;
	height: 255px;
	display: inline-block;
	position: absolute;
	top: 148px;
	right: 460px;
	color: rgb(158,81,48);
	text-align: right;
}
.longBread .longDetail span:nth-child(1){
	display: inline-block;
	width: 100%;
	height: 40px;
	font-size: 40px;
	letter-spacing: 8px;
	margin-bottom: 10px;
}
.longBread .longDetail span:nth-child(2){
	font-size: 14pt;
}
.longBread .longDetail span:nth-child(3){
	display: inline-block;
	width: 270px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: 115px;
	left: 0;
}
.longBread .longDetail span:nth-child(4){
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 80px;
	margin-top: 60px;
	line-height: 25px;
}
.longBread .longDetail span:nth-child(5){
	display: inline-block;
	width: 130px;
	height: 20px;
    margin-top: 25px;
    text-align: right;
    line-height: 15px;
    background: url(../img/icon2.png) no-repeat left;
}
.longBread .line02{
    width: 120px;
	height: 100px;
	position: absolute;
	top: 170px;
	right: 312px;
	border-top: 4px solid #ff9e45;
}
.longBread .line02 span{
	width: 40px;
	height: 3px;
	border-bottom: 4px solid rgb(158,81,48);
	position: absolute;
	bottom: 0;
	left: 0;
}
.longBread .backTop{
	position: absolute;
	bottom: -5px;
	right: 332px;
}/*长棍面包部分结束*/
.yhFenge03{
	width: 100%;
	height: 262px;
	position: relative;
}
.yhFenge03 .page03{
    width: 27px;
	height: 140px;
	position: absolute;
	top: -25px;
	right: 450px;
	font-size: 22px;
	color: rgb(158,81,48);
}
.yhFenge03 .page03 span:nth-child(1){
	display: inline-block;
	width: 25px;
	height: 20px;
	line-height: 25px;
	text-align: center;
	transform: rotate(90deg);
}
.yhFenge03 .page03 span:nth-child(2){
	display: inline-block;
	width: 2px;
	height: 40px;
	border-right: 2px solid rgb(158,81,48);
    position: absolute;
    bottom:54px;
    left: 13px;
}


/*底部部分*/
.bottom{
	height: 340px;
	border: 1px solid #000;
	background-image: url(../img/fooder.png);
}
.bottom .bottomContext {
	height: 246px;
	width: 1300px;
	margin: 0 auto;
	padding-top:54px; 
}
.bottom .bottomContext .bottomContext_adderss{
	width: 644px;
	margin: 0 auto;
	font-size: 14px;
}
.bottom .bottomContext a{
	font-size: 14px;
	color: #000;
}
.bottom .bottomContext_logo{
	height: 40px;
	background-image: url(../img/bottom_bgpic.png);
}
.bottom .bottomContext .bottomContext_text{
	height:145px; 
	margin-bottom: 70px;
}
.bottomContext_text1{	
	height:44px;
	margin: 40px  370px 0 0;
	line-height: 200%;
}
.bottomContext_text2{
	height:133px;
	width: 154px; 
	letter-spacing: 64px;
	position: relative;
}
.bottomContext_text2 img{
   margin-left:25px;
}
.z1{
	position: absolute;
	top:80px;
	left: 140px;
}
.z2{
	position: absolute;
	top: 80px;
}
.bottomContext_pic{
	margin-left: 380px;
	position: relative;
	top: 60px;
}
.bottomContext_pic img:nth-child(2){
	margin: 0 29px;
}